.header {
    grid-area: h;
    /*position: fixed;*/
    background-color: #fdfdfd;
    /*object-fit: cover;*/
}

.header img {
    /*display: block;*/
    /*width: 60%;*/
    /*height: 100%;*/
    margin-bottom: 5px;
    /*object-fit: cover;*/
}